<!-- Contacts -->
<section class="contacts">
  <div class="container contacts-container">
    <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
    <ul class="contacts-img">
      <li><img src="./img/Rectangle 42472@1x.jpg" alt="" /></li>
      <li><img src="./img/Rectangle 42473@1x.jpg" alt="" /></li>
    </ul>

    <p class="contacts-info">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="contacts-form">
      <form class="contacts-form" name="contacts-form">
        <input
          class="contacts-email"
          type="email"
          name="user-email"
          placeholder="Enter email..."
        />
        <button class="contacts-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
