<section class="section-fruits">
  <div class="container">
    <h2 class="section-header">ORGANIC FRUITS</h2>
    <p class="header-content">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="card-set">
      <li class="card-1 card">
        <h3 class="title">Strawberry</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/strawberries.png" alt="strawberries" />
        <span class="price">100 UAH / kg</span>
      </li>
      <li class="card-2 card">
        <h3 class="title">Banana</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/banana.png" alt="banana" />
        <span class="price">80 UAH / kg</span>
      </li>
      <li class="card-3 card">
        <h3 class="title">Watermelon</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/watermelon.png" alt="watermelon" />
        <span class="price">40 UAH / kg</span>
      </li>
      <li class="card-4 card">
        <h3 class="title">Lime</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/lime.png" alt="lime" />
        <span class="price">60 UAH / kg</span>
      </li>
      <li class="card-5 card">
        <h3 class="title">Apple</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/apple.png" alt="apple" />
        <span class="price">50 UAH / kg</span>
      </li>
      <li class="card-6 card">
        <h3 class="title">Peach</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/peach.png" alt="peach" />
        <span class="price">80 UAH / kg</span>
      </li>
      <li class="card-7 card">
        <h3 class="title">Plums</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/plum.png" alt="plum" />
        <span class="price">40 UAH / kg</span>
      </li>
      <li class="card-8 card">
        <h3 class="title">Orange</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/orange.png" alt="orange" />
        <span class="price">60 UAH / kg</span>
      </li>
      <li class="card-9 card">
        <h3 class="title">Kiwi</h3>
        <p class="content">Plant</p>
        <img src="./img/fruits/kiwi.png" alt="kiwi" />
        <span class="price">90 UAH / kg</span>
      </li>
    </ul>

    <!-- КНОПКА ДЛЯ МОДАЛЬНОГО ВІКНА -->
    <!-- НЕ ВИДАЛЯЙ!!!!! -->
    <button type="button" class="order-button" id="order-open">
      <svg class="icon-arrow" width="14" height="14">
        <use href="/order-img/order-sprite.svg#icon-arrow"></use>
      </svg>
      <span class="order-btn-txt">ORDER</span>
    </button>
  </div>
</section>
