<header class="header container">
  <nav class="header-nav">
    <ul class="header-nav-list list">
      <li class="header-nav-item">
        <a class="header-nav-link link" href="#howitworks"> How It Works </a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#fruits"> Fruits </a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#contacts"> Contacts </a>
      </li>
    </ul>

    <a class="page-logo-link" href="./index.html">
      <svg class="page-logo-icon" width="16" height="16">
        <use href="./images/icons.svg#icon-charm_menu-hamburger"></use>
      </svg>
      <p class="page-name">
        Fresh harvest box
      </p>
    </a>

    <a class="basket-logo-link" href="#order">
      <svg class="basket-icon" width="20" height="18">
        <use href="./images/icons.svg#icon-charm_menu-hamburger"></use>
      </svg>
    </a>
  </nav>
</header>
