<section class="how-it-works">
  <div class="container">
    <!--Заголовок-->
    <h2 class="section-title-how-it-works">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <!--параграф тексту з описом секції-->
    <p class="section-description-how-it-works">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <!--список карток-->
    <ul class="list steps-to-order">
      <li>
        <div class="">
          <h3 class="steps">First Step</h3>
          <p class="steps-text">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li>
        <div class="">
          <h3 class="steps">Second Step</h3>
          <p class="steps-text">Click on the basket and fill out the form.</p>
        </div>
      </li>
      <li>
        <div class="">
          <h3 class="steps">Third Step</h3>
          <p class="steps-text">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
    <!--Гіф-зображення-->
    <img src="../img/howitworks/fruits-gif.gif" alt="fruits-gif" width="860" />
  </div>
</section>
