<div class="menu-container" id="mobile-menu">
  <button 
    class="close-mobile-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
    id="close-menu">
      <svg
        class="menu-container-icon"
        width="24px" height="24px"
      >
        <use href="/img/header-mobile-icons.svg#icon-close-mobile-menu-icon"></use>
      </svg>
    </button>
  <!-- Main mobile menu navigations on other on another part of the page -->
  <nav class="mobile-lower-nav">
    <!-- Go to the main sections  -->
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#howitworks">How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#fruits">Fruits</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#contacts">Contacts</a>
      </li>
      <li class="mobile-nav-item">
        <!-- Go to the basket (order section now) -->
        <a class="mobile-nav-link link" href="#order">
          <svg class="mobile-basket-icon" width="24" height="24">
            <use
              href="/img/header-mobile-icons.svg#icon-basket-logo-icon"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
