<div class="menu-container" id="mobile-menu">
  <header class="header container">
    <div class="mobile-header-box">
      <!-- Main header navigation -->
      <nav class="mobile-header-nav">
        <!-- Go to the main page -->
        <a
          class="page-logo-link link"
          href="./index.html"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Page icon"
        >
          <div class="page-logo-icon-box">
            <svg class="page-logo-icon" width="16" height="16">
              <use
                href="/img/header-mobile-icons.svg#icon-page-logo-icon"
              ></use>
            </svg>
          </div>
          <p class="page-name">Fresh harvest box</p>
        </a>
      </nav>
      <!-- Close mobile menu -->
      <button type="button" class="menu-container-toggle" id="close-menu">
        <svg class="menu-container-icon" width="24px" height="24px">
          <use
            href="/img/header-mobile-icons.svg#icon-close-mobile-menu-icon"
          ></use>
        </svg>
      </button>
    </div>
  </header>

  <!-- Main mobile menu navigations on other on another part of the page -->
  <nav class="mobile-lower-nav">
    <!-- Go to the main sections  -->
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#howitworks">How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#fruits">Fruits</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link link" href="#contacts">Contacts</a>
      </li>
      <li class="mobile-nav-item">
        <!-- Go to the basket (order section now) -->
        <a class="mobile-nav-link link" href="#order">
          <svg class="mobile-basket-icon" width="24" height="24">
            <use
              href="/img/header-mobile-icons.svg#icon-basket-logo-icon"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
