/**
  |============================
  |     HEADER STYLES
  |============================
*/

/*     HEADER STYLES        */
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left:calc(100%/18.8);
  padding-right: calc(100%/18.8);
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;  */
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}


.header {
  border-bottom: 1px solid var(--color-white);
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
  display: flex;
  gap: 506px;
  /* justify-content: space-between; */
}

@media screen and (min-width: 375px) {
  .header-box {
    display: flex;
    gap: 155px;
    /* justify-content: space-between; */
  }
}

@media screen and (min-width: 768px) {
  .header-box {
    display: flex;
    gap: 230px;
    /* justify-content: space-between; */
  }
}

@media screen and (min-width: 1280px) {
  .header-box {
    display: flex;
    gap: 506px;
    /* justify-content: space-between; */
  }
}


.header-nav {
  display: flex;
  align-items: center;

  padding: 16px 0;
}

@media screen and (min-width: 375px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: unset;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 94px;
    padding: 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 322px;
    padding: 16px 0;
  }
}

.header-modal-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
}

@media screen and (min-width: 375px) {
  .header-modal-nav {
    padding: 13px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-modal-nav {
    padding: 13px 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-modal-nav {
    padding: 13px 0;
  }
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 375px) {
  .header-nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
  
    color: #AE1332;
  
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 16px;
    /* margin-right: 94px;   */
  }
}

@media screen and (min-width: 1280px) {
  .header-nav-list {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
  
    color: #AE1332;
  
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    /* margin-right: 322px;   */
  }
}

.page-logo-link {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 8px;
  padding: 0;
  /* margin-right: calc(155px*95/100); */
}


@media screen and (min-width: 375px) {
  .page-logo-link {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 8px;
    padding: 0;
    /* margin-right: 155px; */
  }
}

@media screen and (min-width: 768px) {
  .page-logo-link {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 8px;
    padding: 0;
    /* margin-right: 230px; */
  }
}

@media screen and (min-width: 1280px) {
  .page-logo-link {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 8px;
    padding: 0;
    /* margin-right: 506px; */
  }
}

.page-logo-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
    
  width: 16px;
  height: 16px;
}

.page-logo-icon {

  fill: #AE1332;
}

.page-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #AE1332;
  text-transform: uppercase;
  text-align: center;
}

.basket-icon-link {
  display: none;
}

@media screen and (min-width: 375px) {
  .basket-icon-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .basket-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .basket-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.basket-icon {
  fill: #AE1332;
  /* stroke: var(--color-white); */
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}
/*     /HEADER STYLES        */