/**
  |============================
  | СТИЛІ ХІРОУ
  |============================
*/
.hero {
  background-color: var(--color-red);
  padding-top: 56px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/bananaplus@1x.png);
  max-width: 1280px;
  background-position-y: 52px;
  background-position-x: 22px;
}
.girl-container {
  margin-top: 100px;
  width: 1000px;
  background-position: center;
  background-image: url(../img/bananaplus@1x.png);
  background-size: 500px;
}
.hero-text-h1 {
  font-family: 'DM Sans';
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-white);
  max-width: 335px;

  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 386px;
}
.hero-button {
  display: block;
  font-family: 'DM Sans';
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-red);
  background-color: var(--color-white);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  margin-bottom: 44px;
  transform: rotate(345deg);
}
.hero-text {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--color-white);
  width: 279px;
  height: 90px;
  margin-bottom: 44px;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  margin: 0 auto;
}
.fruit-first-card {
  width: 249px;
  height: 387px;
  background-color: var(--color-green);
  border-radius: 500px;
  margin: 44px auto;
}
.fruit-second-card {
  width: 249px;
  height: 387px;
  background-color: var(--color-yellow);
  border-radius: 500px;
  margin: 0 auto;
}
.fruit-header-first {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-white);
  padding-top: 28px;
  padding-bottom: 61px;
  padding-left: auto;
  padding-right: auto;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.fruit-header-second {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-white);
  padding-top: 28px;
  padding-bottom: 19px;
  padding-left: auto;
  padding-right: auto;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.fruit-text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  width: 155px;
  height: 70px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 44px;
}

/* .customers-list-item {
    flex-basis: calc((100% - 88px) / 2);
  } */

.border-first {
  width: 125px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid var(--color-white);
}
.border-second {
  width: 132px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid var(--color-white);
}
.hero-list-item-h {
  width: auto;
  height: auto;
}
.hero-list-item {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  padding-bottom: 12px;
}
