/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./order.css');
@import url('./order-modal.css');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --color-black: #000000;
  --color-red: #ae1332;
  --color-green: #a4cb66;
  --color-yellow: #f5ce13;
  --color-white: #ffffff;

  --follow-in-line: 1;
  --fruits-in-line: 1;
}

/* Загальний стилі для СПИСКІВ */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Загальний стилі для ЛІНКІВ */
.link {
  text-decoration: none;
}
/* Загальний стилі для КОНТЕЙНЕРІВ (мобільна версія) */
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.main {
  background-color: #ae1332;
}

/* Загальні стилі для таблету */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Загальні стилі для десктопу */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 33px;
  }
}
